.card{
    width:  15rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #0a202a;
    position: relative;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    box-shadow: 0px 10px 5px 0px;
}
.card:hover{
    margin-top: 11px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.poster img{
    width: 15rem;
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    color:whitesmoke ;
}
.overView{
    transform: translateX(100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    color: #6da8c4;
    background-color: #141515c4;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 3rem;
    border-top-left-radius: 1.5rem;
    transition: 0.3s ease-in-out;
}
.card:hover .overView{
    transform: translateY(0%);
}
.overView_info{
    padding: 1rem;
}